<div class="home-page">
  <h1>Lista de Tareas</h1>
  
  <ul>
    <li ng-repeat="(key, value) in tareas">
      <a href="#" class="check-comment" ng-click="checkTask(key)" ng-class="{strike: value.done}"></a>
      <a ui-sref="task({id: key})" class="tarea-desc" ng-class="{strike: value.done}">{{ value.name }}</a>
      <a ui-sref="task({id: key})" class="comment-icon"><i class="fa fa-commenting-o"></i> {{value.comments.length}}</a>
    </li>
  </ul>

  <div class="add-tarea">
    <form ng-submit="addTask()">
      <input type="text" ng-model="tarea.name" class="inpt-solid" placeholder="Nombre de la tarea">
      <button type="submit" class="btn btn-green">Agregar Tarea</button>
    </form>
  </div>
</div>
