@import "../components/**/*.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700);

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

$font-color: #2F2F2F;
$green-color: #0e9f68;
$font-raleway: 'Raleway', sans-serif;
body{
	font-family: $font-raleway;
	margin: 0;
	color: $font-color;
}
header{
	text-align:center;
	background-image: url('../images/vintage-mug-tea-photos-wood-texture.jpg');
	background-position: center;
	background-size: cover;
	color: whitesmoke;
	padding: 30px 0;
	position: relative;
	height: 192px;
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(black, 0.9);
		top: 0;
		left: 0;
	}
	.p-container{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 30px 0;
	}
	p{
		text-transform: uppercase;
		font-weight: 200;
		font-size: 26px;
		width: 160px;
		height: 145px;
		padding: 20px;
		margin: 0 auto;
		text-align: center;
		border: 3px solid whitesmoke;
		span{
			display: block;
			line-height: 48px;
			b{
				font-weight: 600;
			}
			&.rank{
				letter-spacing: 8px;
			}
			&.list{
				letter-spacing: 7px;
			}
			&.tasks{
				letter-spacing: 13px;
			}
		}
	}
}
.home-page{
	text-align: center;
	h1{
		padding-top: 30px;
	}
}

h1{
	color: $green-color;
	font-size: 26px;
	font-weight: 600;
	text-transform: uppercase;
}

.btn{
	padding: 8px 16px;
	&.btn-green{
		font-size: 18px;
		font-family: $font-raleway;
		background-color: $green-color;
		color: whitesmoke;
		border: none;
		display: inline-block;
		width: 250px;
		margin-left: 20px;
	}
}
.inpt-solid{
  display: inline-block;
  padding: 9px 16px 7px 16px;
  border: lightgrey 1px solid;
  width: 215px;
  background-color: black;
  color: #5E5E5E;
  font-family: $font-raleway;
  font-size: 16px;
}
ul{
	list-style: none;
	margin: 0;
	padding: 10px 0;
	text-align: left;
	width: 50%;
	margin: 0 auto;
	// Cambiar para responsive
	li{
		display: block;
		a{
			color: #A3A0A0;
			text-decoration: none;
			display: inline-block;
			padding: 16px 12px 8px 0;
			border-bottom: #E3E3E3 solid 1px;
			&:hover{
				color: #2F2F2F;
			}
			&.tarea-desc{
				width: 86%;
			}
			&.comment-icon{
				border: none;
				width: 4%;
			}
			&.check-comment{
				padding: 6px;
				border: #A3A0A0 solid 1px;
				border-radius: 50%;
				margin: 0 4px;
			}
		}
	}
}
footer{
	text-align: center;
	a{
		color: $green-color;
		text-decoration: none;
	}
}

.add-tarea{
	position: fixed;
	background-color: black;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
}